@media (max-width: 1300px) {
  .doublesection {
    flex-wrap: wrap;
    align-items: center;
    height: auto;
  }
}
@media (max-width: 1150px) {
  .hexsabox {
    height: auto;
    width: auto;
  }
}
.triplebox1 {
  flex-wrap: wrap;
}
.triplebox {
  flex-wrap: wrap;
}
.left-box {
  margin-right: auto;
  margin-left: auto;
}
.right-box {
  margin: 0 auto;
}

.img33 {
  margin: 0 auto;
}

@media (max-width: 950px) {
  .hexsabox {
    height: auto;
  }
  .burger {
    display: block;
  }

  .navpanel1 {
    display: none;
  }

  .triple-top-box {
    flex-direction: column;
    align-items: center;
  }
  .triple-bottom-box {
    flex-direction: column;
    align-items: center;
  }
  .right-box {
    max-width: 650px;
    height: 400px;
  }
}
@media (max-width: 730px) {
  .logo {
    margin-top: auto;
    margin-bottom: 20px;
  }
  .lefttext2 {
    margin-top: 15px;
  }

  .burger {
    margin-top: auto;
  }
  .right-box {
    max-width: 500px;
    height: 300px;
    align-content: center;
  }
  .textbox3 {
    align-content: center;
    width: auto;
    height: 100%;
  }
  .lefttext1 {
    height: auto;
  }
  .lefttext2 {
    height: auto;
  }
  .left-box {
    margin: 10px auto;
  }
}
@media (max-width: 550px) {
  .right-box {
    max-width: 320px;
    height: 200px;
  }
  .left-box {
    margin: 20px auto;
    margin-bottom: -90px;
  }
  .logo {
    margin-left: 0px;
  }
  .img33 {
    max-width: 300px;
    height: 200px;
  }
}
@media (max-width: 320px) {
  .img33 {
    max-width: 280px;
    height: 200px;
  }
}
