/* navigation */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo {
  width: 195px;
  height: 35px;
  position: absolute;
  display: flex;
  justify-content: center;
  top: 67px;
  left: 90px;
}
.navigation {
  position: relative;
  height: 313;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navpanel {
  width: 581px;
  height: 24px;
  display: flex;
  font-size: 13px;
  justify-content: space-around;
  margin-top: 82px;
  margin-left: 900px;
}
.wave {
  height: 22px;
}

/* doublesection */
.doublesection {
  position: relative;
  max-width: 100%;
  height: 960px;
}
.left-box {
  position: absolute;
  width: 460px;
  height: 700px;
  top: 286px;
  left: 86px;
}
.right-box {
  position: absolute;
  top: 210px;
  right: 31px;
}
.lefttext1 {
  width: 300px;
  height: 150px;
  font-size: 40px;
}
.lefttext2 {
  font-size: 16px bold;
  color: rgb(7, 1, 1);
  vertical-align: middle;
}
.wave11 {
  color: white;
  font-size: 16px;
  font-weight: bold;
  bottom: 15px;
}
.wave1 {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3d37f1;
  width: 160px;
  height: 40px;
  border-radius: 38px 38px 38px 38px;
  top: 250px;
}
/* hexsa block */
.hexsabox {
  max-width: 1140px;
  height: 1240px;
  margin: 0 auto;
}
.textbox3 {
  width: 640px;
  height: 335px;
}
.triple-top-box {
  display: flex;
  color: white;
  justify-content: space-between;
}
.triple-bottom-box {
  margin-top: 30px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.triplebox {
  width: 310px;
  height: 400px;
  background-color: #29a7c1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.triplebox1 {
  width: 310px;
  height: 400px;
  background-color: #29a7c1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.textbox3 {
  width: 720px;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 80px;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: #3d37f1;
}
.textboxp1 {
  font-size: 40px;
  height: 48px;
  margin-bottom: 10px;
  margin-top: 12px;
}
.textboxp2 {
  height: 85px;
  font-size: 16px;
}
.ptext {
  max-width: 200px;
  height: 60px;
  text-align: center;
  font-size: 13px;
  font-weight: 200;
}
.title6 {
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.bordera {
  max-width: 130px;
  height: 45px;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  border: solid 2px white;
  border-radius: 35px;
}
.triplebox:nth-child(1) {
  background: linear-gradient(#fbba77, #dfa871);
}
.triplebox:nth-child(2) {
  background: linear-gradient(#4386d2, #0962c5);
}
.triplebox:nth-child(3) {
  background: linear-gradient(#a5a2f6, #564fd6);
}
.triplebox1:nth-child(1) {
  background: linear-gradient(#ff8088, #984141);
}
.triplebox1:nth-child(2) {
  background: linear-gradient(#41eae3, #2293b7);
}
.triplebox1:nth-child(3) {
  background: linear-gradient(#69529f, #463864);
}
/* animation */
.bordera:hover {
  background-color: white;
}
.wave1:hover {
  background-color: #4386d2;
}
.li:hover {
  transform: scale(1.5);
}
.bordera:hover {
  color: black;
}
